<div class="bg-hands">
    <div class="row justify-content-center">
        <div class="col col-sm-8 col-md-6 col-lg-3 border-1 mt-5 rounded bg-app-white m-2">
            <div class="intro-register-img">
                <img src="/img/helping_hands_logo_max.png" class="w-100" alt="helping hands logo with name">
            </div>
            <div>
                <h3 class="c-app-orange" style="text-align:center">You are almost done!</h3>
                <p class="c-app-text mb-5" style="text-align:center">Please check your email to activate your account and be part of Helping Hands community!</a>   
            </div>
        </div>
    </div>
</div>