<div class="bg-hands">
    <div class="row justify-content-center">
        <div class="col col-sm-8 col-md-6 col-lg-3 border-1 mt-5 rounded bg-app-white">
            <div class="intro-register-img mb4">
                <img src="./img/helping_hands_logo_max.png" class="w-100" alt="helping hands logo with name">
            </div>
            <div class="d-grid gap-2 mt-2">
                <a href="/authenticate/google" class="btn bg-app-bg c-app-orange" id="google-register"><i class="fa fa-google me-2"></i>Register with Google</a>   
            </div>
            <div class="d-grid gap-2 mt-2">
                <a href="/register-email" class="btn bg-app-orange c-app-bg mb-5"><i class="fa fa-envelope me-2"></i>Register with email</a> 
            </div>
        </div>
    </div>
</div>



