<footer class="footer bg-app-orange c-app-white text-center mt-5">
  <div class="container pt-3 pb-0">
    <section class="mb-3">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Helping-Hands-Web" role="button"><i class="fa fa-github"></i></a>
    </section>
    <div class="text-center pb-2 c-app-white">
      © 2021 Copyright: Helping Hands
    </div>
  </div>
  
</footer>