<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex bd-highlight mb-3">
         <a class="navbar-brand p-2 bd-highlight" href="/">
        <img src="./img/helping_hands_only.png" alt="helping_hands_logo" width="40" height="30">
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav p-2 bd-highlight">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">How does it work?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Why Helping Hands?</a>
        </li>
        </ul> 
    
        <ul class="navbar-nav ms-auto p-2 bd-highlight">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn bg-app-orange text-white" href="#">Join Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>