body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto; 
    color: var(--c-app-text);
    
}

a:focus {
    outline:0; 
    box-shadow: none;
}

.btn:focus {
    outline:0;
    box-shadow: none;
}

.bg-hands {
    background-image: url("../img/bg_register.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

.bg-header {
    height: 180px;
    background-image: url("../img/bg_profile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--c-app-orange);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.avatar-img-profile {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid var(--c-app-orange);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}




.input-border {
    border: 1px solid var(--c-app-orange);
}

.btn-orange:hover {
    background-color: var(--c-app-dark-orange);
    color: var(--c-app-white)
}

.btn-white {
    border: 1px solid var(--c-app-orange);
}

.btn-white:hover {
    background-color: var(--c-app-text);
    color: var(--c-app-white);
    border: none;
}

a:hover {
    color: var(--c-app-dark-orange);
}

.nav-link:hover {
    color: var(--c-app-orange)
}

.active {
    font-weight: 600;
}

.eye-btn {
    border: 1px solid var(--c-app-orange);
}

.fa-eye {
    color: var(--c-app-white);
}

.fa-eye-slash {
    color: var(--c-app-white);
}

.btn-floating {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--c-app-white);
}

.navbar-toggler {
    background-color: var(--c-app-orange);
    border: 1px solid var(--c-app-orange);
}


.navbar-toggler:focus {
    outline:0; 
    box-shadow: none;
}

.edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}