body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh; 
    margin: 0; 
    display: grid;
    grid-template-rows: auto 1fr auto; 
    color: var(--c-app-text);
    padding-top: 5%;
}

.nav {
    height: 10%;
}

a:focus {
    outline:0; 
    box-shadow: none;
}

.btn:focus {
    outline:0;
    box-shadow: none;
}

input[type="text"]:focus {
    outline:0;
    box-shadow: none;
}

input[type="textarea"]:focus {
    outline:0;
    box-shadow: none;
}
.bg-hands {
    background-image: url("../img/bg_register.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

.bg-header {
    height: 180px;
    background-image: url("../img/bg_profile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--c-app-orange);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.avatar-img-profile {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid var(--c-app-orange);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.row-services{
    --bs-gutter-x: 0rem;
}




.input-border {
    border: 1px solid var(--c-app-orange);
}

.btn-orange:hover {
    background-color: var(--c-app-dark-orange);
    color: var(--c-app-white)
}

.btn-white {
    border: 1px solid var(--c-app-orange);
}

.btn-white:hover {
    background-color: var(--c-app-text);
    color: var(--c-app-white);
    border: none;
}

a:hover {
    color: var(--c-app-dark-orange);
}

.nav-link:hover {
    color: var(--c-app-orange)
}

.active {
    font-weight: 600;
}

.eye-btn {
    border: 1px solid var(--c-app-orange);
}

.fa-eye {
    color: var(--c-app-white);
}

.fa-eye-slash {
    color: var(--c-app-white);
}

.btn-floating {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--c-app-white);
}

.navbar-toggler {
    background-color: var(--c-app-orange);
    border: 1px solid var(--c-app-orange);
}


.navbar-toggler:focus {
    outline:0; 
    box-shadow: none;
}

.edit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
}


.form {
    position: relative;
    top: 0;
}

.custom-form-control {
  box-shadow: 0px 0px 19px -4px rgb(0 0 0 / 5%);
  border-radius: 5px;
  font-size: 14px;
}

.shadow-navbar {
    box-shadow: 0 2px 5px -2px rgba(0,0,0,.2);
}

#add-service {
    font-size: 1.5rem;
    
}

.services-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
}


.service-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-category {
    visibility: hidden;
    position: absolute;
}

.category-card {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
display: flex;
padding: 15px;
flex-direction: column;
align-items: center;
margin-bottom: 25px;
color: var(--c-app-text);
cursor: pointer;
transition: 0.1s;
outline: 1px solid var(--c-app-text);
box-shadow: 0 0 3px var(--c-app-grey);
background-color: var(--c-app-white);
}

.category-card p{
    font-size: 17px;
}

p.category-name{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
    max-height: 45px;
    white-space: nowrap;
}

.category-card span {
    font-size: 40px;
    margin-bottom: 10px;
}

.category-card:hover {
color: black;
outline: 4px solid var(--c-app-orange);
background-color: var(--c-app-white);
}

.category-selected,
.category-selected:hover {
  background-color: var(--c-app-orange) !important;
  color: white !important;
  outline: 0px solid var(--c-app-orange) !important;
  transition: 0.17s;
}

.category-selected p {
  font-weight: 400;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.section-green {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(98, 132, 116, 0.5);
}


.home-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.card-img {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.card-img-top-wrapper {
    overflow: hidden;
    width:75%;  
  }



.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-wrapper {
    border: 1px solid var(--c-app-orange);
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-card {
    padding: 0;
}


.carrousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}


.carrousel .category-card {
    margin: 25px 0px 25px;
    outline: 0px;
    box-shadow: none;
}


.btn-green:hover {
    background-color: var(--c-app-dark-green);
    color: var(--c-app-white)
}

.new-work {
    min-height: 60vh;
}

#datefield {
    border: 1px solid #ced4da;
    color: var(--c-app-text);
    padding: .375rem .75rem;
}


.label-date {
    display: block;

}

.header-works {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}

.inline-form {
    display: inline;
}

.inline-form button{
    width: 45px;
}




@media (min-width: 992px) {
    .section-light {
        padding: 2rem 10rem;
    }
    .section-green {
        padding: 2rem 10rem;
    }
}

@media (min-width: 768px) {
    .section-light {
        padding: 2rem 5rem;
    }
}

@media (min-width: 768px) {
    .section-green {
        padding: 2rem 5rem;
    }
}

@media (max-width: 768px) {
    .section-light {
        padding: 2rem;
    }
    .section-green {
        padding: 2rem;
    }
    .carrousel {
        display: none;
    }
    
}

.swal-button {
    background-color: var(--c-app-orange);
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: auto;
    cursor: pointer;
}





