
.icon-016-translate:before { content: '\e800'; } /* '' */
.icon-020-help:before { content: '\e801'; } /* '' */
.icon-008-sewing-machine:before { content: '\e802'; } /* '' */
.icon-019-student:before { content: '\e803'; } /* '' */
.icon-003-tutor:before { content: '\e804'; } /* '' */
.icon-007-grocery-cart:before { content: '\e805'; } /* '' */
.icon-015-car:before { content: '\e806'; } /* '' */
.icon-002-accounting:before { content: '\e807'; } /* '' */
.icon-005-guitar:before { content: '\e808'; } /* '' */
.icon-014-car-repair:before { content: '\e809'; } /* '' */
.icon-001-balance:before { content: '\e80b'; } /* '' */
.icon-012-computer:before { content: '\e80c'; } /* '' */
.icon-011-pet:before { content: '\e80d'; } /* '' */
.icon-006-truck:before { content: '\e80e'; } /* '' */
.icon-004-delivery-man:before { content: '\e80f'; } /* '' */
.icon-009-notes:before { content: '\e810'; } /* '' */
.icon-010-house-repair:before { content: '\e811'; } /* '' */
.icon-017-oosouji:before { content: '\e812'; } /* '' */
.icon-018-cooking:before { content: '\e813'; } /* '' */
.icon-watering-plants:before { content: '\e814'; } /* '' */
