
<div class="container-fluid"> 
    <section class="row section-light" id="home">
        <div class="col-lg-5 col-xs-11 col-md-5 intro-img order-md-2">
            <img src="/img/home_intro_img.png" style="width: 100%" alt="People holding hands">
        </div>        
        <div class="col-lg-7 col-xs-11 col-md-7 intro-text order-md-1">
            <h2 class="c-app-green mt-3">Fancy being part of a kinder world?</h2> 
            <p class="c-app-text text-justify mt-3">Become a <b>Helper</b> and support us creating a new kind of economy, where <b>time</b> is the currency, <b>kindness</b> and <b>trust</b> are the most valuable assets and everybody is valued for their <b>skills</b>, not for hat they own.</p>
            <p class="c-app-text text-justify">With <b>Helping Hands</b>, a person with one skill set can bank and trade hours of work for equal hours of work in another skill set instead of paying or being paid for services.</p>
            <div class="mt-3">
              <a href="/register" class="btn bg-app-orange me-0 c-app-white btn-orange fs-5 mt-4">Join Us</a>        
            </div>
        </div>

    </section>


    <section class="section-green bg-app-green py-3" id="how-does-it-work">
        <h2 class="c-app-white my-3">How does it work?</h2> 
        <div class="row home-boxes">
           <div class="card col-xs-11 col-md-10 col-lg-3 rounded mb-3">
               <div class="card-img">
                    <img src="/img/piggybank.png" class="card-img-top-wrapper" alt="Piggy Bank">                   
               </div>
                <div class="card-body">
                    <h5 class="card-title c-app-orange">Time-based currency</h5>
                    <p class="card-text c-app-text">In Helping Hands, you help someone for an hour (or thereabouts) – for example by mowing their lawn or doing their shopping. </p>
                    <p class="card-text c-app-text">For every hour of help you give, you earn an hour’s credit from your time bank. You can spend your time tokens by receiving an hour of someone else’s time. For example, you could learn how to cook an apple pie, or get help with painting your fence. </p>
                </div>
            </div>

           <div class="card col-xs-11 col-md-10 col-lg-3 rounded mb-3">
               <div class="card-img">
                    <img src="/img/friendship.png" class="card-img-top-wrapper" alt="Friendship">                   
               </div>

                <div class="card-body">
                    <h5 class="card-title c-app-orange">Cooperation</h5>
                    <p class="card-text c-app-text">No money is exchanged, although participants may agree to cover expenses such as petrol money. Everyone’s time is valued equally: one hour of sharing your skills or helping others earns you one time credit, whatever the skill or task. </p>
                    
                </div>
            </div>

            <div class="card col-xs-11 col-md-10 col-lg-3 rounded mb-3">
                <div class="card-img">
                    <img src="/img/skills.png" class="card-img-top-wrapper" alt="Skills">                   
               </div>
                <div class="card-body">
                    <h5 class="card-title c-app-orange">Skilled Based</h5>
                    <p class="card-text c-app-text">Timebanking works for everyone – individuals, organisations and society as a whole. People arrange to give time when it suits them, offering skills they enjoy using. It’s a two-way process of giving time and receiving time – and everybody has skills they can offer.  </p>
                
                </div>
            </div>
        </div>
        <div class="mt-3">
              <a href="/register" class="btn bg-app-white me-0 c-app-orange btn-white fs-5 my-5">Join Us</a>        
            </div>
    </section>

    <section class="row section-light" id="why-helping-hands">
        <div class="col-xs-12 col-md-6 col-lg-5 intro-img">
            <img src="/img/Circle.png" style="width: 85%" alt="Helping Circle">
        </div>
        <div class="col-xs-12 col-md-6 col-lg-7 intro-text">
            <h2 class="c-app-green mt-3">Why Helping Hands?</h2> 
            <p class="c-app-text text-justify mt-3">Life has changed and our friends and family don’t always live nearby. It’s not always easy to ask someone for help, especially if that brings with it a feeling that we can never ‘pay them back’. Timebanking is a fun, unpressurised and informal way to enable people each other – and to bring out the best in everyone.</p>
            <p class="c-app-text text-justify">Timebanking UK’s case studies show that joining a time bank can change people’s lives. After taking part in exchanges, time bank members report that they learn new skills, meet new people, enjoy better self-esteem and self-confidence, and feel healthier. Time bank members realise their knowledge and skills are useful and interesting to others – and they feel more involved in their community, too.</p>
            <p class="c-app-text text-justify">Timebanking enables people to realise that they are useful and valued members of society. It makes us feel better, more connected – and just happier!.</p>
            <div class="mt-3">
              <a href="/register" class="btn bg-app-orange me-0 c-app-white btn-orange fs-5 mt-4">Join Us</a>        
            </div>
        </div>
    </section>

</div>