<div class="container profile">
    <div class="bg-header">
        <div class="avatar-img-profile mt-3" style="background-image: url('{{user.avatar}}')"></div>
        <h2 class="c-app-orange">{{user.name}}</h2>        
    </div>

    {{#isCurrentUser myUser=currentUser viewUser=user}}
        <div class="edit mt-3">
            <a href="/users/me/edit" class="btn bg-app-orange me-0 c-app-white btn-orange fs-5"><i class="fa fa-edit fa-fw" color="white"></i>Update your profile</a>        
        </div>
    {{/isCurrentUser}}

    <div class="card my-5">
        <div class="card-header justify-content-centered">
            <h4 class="c-app-green mt-2 px-2"><i class="fa fa-address-card"></i>     Description</h4>
        </div> 
        <p class="my-3 px-4 text-justify">{{user.description}}</p>
    </div>

    {{#isCurrentUser myUser=currentUser viewUser=user}}
        <div class="card my-5">
            <div class="card-header justify-content-centered">
                <h4 class="c-app-green mt-2 px-2"><i class="fa fa-envelope"></i>     Email</h4>
            </div> 
            <p class="my-3 px-4 text-justify">{{currentUser.email}}</p>
        </div>
    {{/isCurrentUser}}




</div>

