<h2>Update your Profile</h2>

<form action="/users/{{user.id}}/edit" method="POST">
    <input type="hidden" name="id" value="{{user.id}}"/>
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" placeholder="Enter name"
      value="{{ user.name }}">
    
    <label for="name">Description</label>
    <input name="description" type="textarea" class="form-control" id="name" placeholder="Enter description"
      value="{{ user.description }}">

</form>